# /etc/systemd/system/van_api.service
[Unit]
Description=Gunicorn instance to serve Van API
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/van-api/
ExecStart=/opt/van-api/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target